static/profileIcons/*
static/postImage/*
!static/postImage/.gitkeep
__pycache__/*
env
env/*
main/migrations/__pycache__/*
protagonist/__pycache__/*
static/profileIcons/*
!static/profileIcons/.gitkeep
static/tmp/*
!static/tmp/.gitkeep
.env
db.sqlite3