PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-03-14 01:29:18.259902');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-03-14 01:29:18.359274');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-03-14 01:29:18.490754');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'64','posts object (64)',3,'',7,1,'2025-03-17 09:15:32.804316');
INSERT INTO django_admin_log VALUES(2,'63','posts object (63)',3,'',7,1,'2025-03-17 09:15:32.853945');
INSERT INTO django_admin_log VALUES(3,'62','posts object (62)',3,'',7,1,'2025-03-17 09:15:32.891060');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$kBssmEDPKW2zNk36270vMO$WIjK6Nkl+KGJbaEyd7IOtUKxFAUePnt256p7EthHLUU=','2025-03-15 01:36:07.114034',1,'rakibahmed','','rakib@grami.com',1,1,'2025-03-14 01:29:59.574128','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('2b3sgyu66agpwqlkmeidlifl1mpbq2js','.eJxVjEEOwiAQRe_C2hAGSyku3fcMZGaYStVAUtqV8e7apAvd_vfef6mI25rj1mSJc1IXBer0uxHyQ8oO0h3LrWquZV1m0ruiD9r0WJM8r4f7d5Cx5W8depwmT57JeCfAhgZvHQIEdA57ALI-OAqB0YIhYs-dOYvpkgzEaNT7A-cBOBc:1tt9P4:BZC7W3EZ9U7-YO5Gs7qdCPOgXgK8vylF9RXZNclebN4','2025-03-28 18:05:02.739831');
INSERT INTO django_session VALUES('xpt4f1qaqstnicmn8jxsulmgwonu4pjb','.eJxVjEEOwiAQRe_C2hAGSyku3fcMZGaYStVAUtqV8e7apAvd_vfef6mI25rj1mSJc1IXBer0uxHyQ8oO0h3LrWquZV1m0ruiD9r0WJM8r4f7d5Cx5W8depwmT57JeCfAhgZvHQIEdA57ALI-OAqB0YIhYs-dOYvpkgzEaNT7A-cBOBc:1ttGRb:6tb0-R4aVPHMFE1UNeeY5PzcQnUBamZj8bHyXUZwi2I','2025-03-29 01:36:07.151506');
CREATE TABLE IF NOT EXISTS "main_posts" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "userId" varchar(200) NOT NULL, "postId" varchar(10) NOT NULL, "text" varchar(10000) NOT NULL, "hasImage" varchar(1) NOT NULL, "time" varchar(30) NOT NULL);
INSERT INTO main_posts VALUES(65,'thoringumli','gjLwGjOeYT','That''s a wonderfull day','0','1742224146.9047246');
INSERT INTO main_posts VALUES(66,'thoringumli','OLiaBHXQBi','Meow','0','1742224146.9047246');
INSERT INTO main_posts VALUES(67,'thoringumli','cqOKsNBlgv','http://127.0.0.1:8000/static/example.png','0','1742224146.9047246');
CREATE TABLE IF NOT EXISTS "main_comment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "commentText" varchar(1000) NOT NULL, "commentId" varchar(10) NOT NULL, "time" varchar(30) NOT NULL, "userId" varchar(200) NOT NULL, "userName" varchar(200) NOT NULL, "postId" varchar(10) NOT NULL);
INSERT INTO main_comment VALUES(7,'hey','YIUeEgnewY','1742281849.7003455','harlellealina','Harlelle Alina','tvDogOxBlC');
INSERT INTO main_comment VALUES(8,'Hello','odSZtpfkex','1742281915.4900672','harlellealina','Harlelle Alina','tvDogOxBlC');
INSERT INTO main_comment VALUES(9,'This is great','kzAmWYHVxB','1742281926.4739695','harlellealina','Harlelle Alina','tvDogOxBlC');
CREATE TABLE IF NOT EXISTS "main_likes" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "userId" varchar(100) NOT NULL, "postId" varchar(10) NOT NULL);
INSERT INTO main_likes VALUES(28,'harlellealina','cGvIvNmdHD');
INSERT INTO main_likes VALUES(29,'harlellealina','cGvIvNmdHD');
INSERT INTO main_likes VALUES(30,'harlellealina','gQzCGXkMIO');
CREATE TABLE IF NOT EXISTS "main_notification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "byWho" varchar(100) NOT NULL, "toWho" varchar(100) NOT NULL, "message" varchar(500) NOT NULL, "redirectiTo" varchar(30) NOT NULL, "read" varchar(3) NOT NULL, "time" varchar(30) NOT NULL);
INSERT INTO main_notification VALUES(2,'welkuriaoyakrenaejor','kanoyavyralora','Liked on Your Post','/post/RzHLPGMfbA','no','1742328982.3328378');
INSERT INTO main_notification VALUES(3,'welkuriaoyakrenaejor','harlellealina','Liked on Your Post','/post/ysLYxDzyqr','no','1742328984.3648105');
INSERT INTO main_notification VALUES(4,'welkuriaoyakrenaejor','harlellealina','Liked on Your Post','/post/zATRZMugrp','no','1742328987.7727654');
CREATE TABLE IF NOT EXISTS "main_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "userId" varchar(200) NOT NULL, "sessonId" varchar(100) NOT NULL, "userName" varchar(200) NOT NULL, "ai" varchar(3) NOT NULL);
INSERT INTO main_user VALUES(1,'qudrockelsak','GWfASznpDhcIQXBiOfehCJBgxsCFlBoRWLzKKrUDrzzbVUzuvLMgTgfIqOtTeOuTNfcROjLqlMMTsYUWtWxQPXbskpvYcnictIaV','Qudroc Kelsak','no');
INSERT INTO main_user VALUES(2,'dilzhebotgil','MlCnibKqWOsrEsMHhCElDFPzROhuWSXrRIQicaGqWLUOiiOwThFGahSgOYZpLpgkQyzkDUWSmeuIegpEgWezFlJpXQvoQybVMQcq','Dilzheb Otgil','no');
INSERT INTO main_user VALUES(3,'teerumtubran','tNxMQZJmbXeilsxGlwJiBPAxZdQfkWebDFOvGvtcGoxkcAfLKfsyIFQBLRSlGeWOVDqoxtDaPahbAupdVTfCONujpxybMpSkJvKF','Teerum Tubran','no');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',31);
INSERT INTO sqlite_sequence VALUES('django_admin_log',99);
INSERT INTO sqlite_sequence VALUES('django_content_type',11);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "main_comment_postId_51be0200" ON "main_comment" ("postId");
CREATE INDEX "main_likes_postId_d22e512b" ON "main_likes" ("postId");
COMMIT;
