body{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
#parent{
    width: 100%;
    height: 100%;
    display: flex;
}
#nav{
    width: 300px;
    height: 70%;
    display: flex;
    margin-left: 24px;
    background-color: white;
    margin-top: 20px;
    z-index: 100;
    position: fixed;
    left: 0px;

}
.navSpace{
    width: 500px;
    height: 70%;
    display: flex;
    margin-left: 24px;
    background-color: white;
    margin-top: 20px;
    z-index: 100;
}

#loadingScreen{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 20;
    left: 0px;
}

/* css about nav bar */
#nav_Elements{
    margin: 16px;
    width: 100%;
}
.navELements{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    transition: background-color 200ms ease;
    border-radius: 12px;
}
.navELements:hover{
    background-color: #f0f2f554;
    border-radius: 12px;
}
.navELements img{

    margin-left: 24px;
    width: 24px;
}
.navELements span{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-left: 14px;
}




/* css about adding post */


#content{

    display: flex;
    flex-direction: column;
    margin-left: 4px;
    width: 100%;
    margin-top: 20px;
    opacity: 100%;
    transition: opacity 100ms ease;
    margin-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 24px;
}
#headerText{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight:  700;
    font-size: 32px;
    width: 100%;
    margin: 16px;
}
#addingPostArea{
    margin-right: 24px;
    width: 100%;
}
#addingPostElements{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #DBE0E5;
    overflow: hidden; 
    display: flex;
}
#profilePcitrue{
    width: 71px;
    height: 127px;
}
#profilePcitrue img{
    width: 40px;
    margin: 15px;
    border-radius: 50%;
}
#writing{
    width: 100%;

}
#textArea{
    width: 100%;
    height: 79px;
    background-color: rgb(255, 140, 0);
}
#postButtonArea{
    transition: height 1s ease;
    width: 100%;
}
#textArea textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 22px;
}
#textArea textarea::placeholder{
    color: #9B9B9B;
}
#selcetImageButtonPareant{
    padding: 6px;
    cursor: pointer;
    width: 20px;
    margin-right: 14px;
}
#selcetImageButtonPareant label{
    cursor: pointer;
}
#selcetImageButtonPareant label img{
    width: 20px;
    cursor: pointer;
}
#postButtonArea{
    display: flex;
    flex-direction: row-reverse;
    padding-left: -15px;
    padding-bottom: 15px;
}
#postButtonArea button{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 84px;
    background-color: #1A80E5;
    height: 32px;
    border: none;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
}
.currentNavLocation{
    background-color: #F0F2F5;
    border-radius: 12px;
}
.currentNavLocation:hover{
    background-color: #F0F2F5;
    border-radius: 12px;
}

/* Css about Post */
.posts{
    width: 100%;
}
.creatorInfo{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.creatorInfo img{
    width: 56px;
    border-radius: 50%;
}
.postCreatorNameinPost{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.creationTimeofThepost{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #637587;
}
.creatorTextInfo{
    margin-left: 16px;
}
.caption{
    width: 100%;
    max-width: 100%;
}
.caption span{
    display: block; 
    width: 100%;
    max-width: 100%;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 12px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 1.8;

}
.imageFrame{
    padding: 16px;
}
.imageFrame img{
    border-radius: 12px;
    width: 30%;
    height: auto; /* Maintains the aspect ratio */
    display: block;
}
.postItarection{
    display: flex;
    align-items: center;
}
.postInarectionItem{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    align-items: center;
}
.postInarectionItem img{
    width: 24px;
    margin-left: 12px;
    cursor: pointer;
}
.postInarectionItem span{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-left: 8px;
    color: #637587;
}
.commentsItarections{
    width: 100%;
    padding-bottom: 3px;
}
.commentsItarections input{
    width: calc(50% - 32px);
    height: 48px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #F0F2F5;
    border: none;
    outline: none;
    margin-top: 12px;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    color: rgb(68, 68, 68);
    border-radius: 12px;
    font-weight: 500;
}
.commentsItarections input::placeholder{
    color: #637587;
}


/* notification */

.notification{
    width: 40%;
    display: flex;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}
.notificantionMakerUserInfo{
    display: flex;
    align-items: center;
}
.notificantionMakerUserInfo img{
    width: 56px;
    border-radius: 50%;
}
.notificationMakerTextInfo{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}
.notificationMakerName{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.notificationMakingTime{
    font-family: "Be Vietnam Pro", sans-serif;
    color: #637587;
    font-size: 14px;
}
.notificationInfoAndContentSaparator{
    width: 1px;
    height: 70%;
    background-color: rgb(0, 0, 0);
    margin-left: 14px;
}
.notificationContent{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-left: 14px;
}


/* Profile page css */
#porfileInfoArea{
    margin-right: 24px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#porfileInfoArea img{
    width: 130px;
    border-radius: 50%;
}
#porfileInfoArea span{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
}

/* Loading screen */

#loadingScreenScreen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loadingScreenScreen img{
    width: 40px;
    margin-bottom: 10%;
    rotate: 90deg;
}
#loadingbarforPost{
    display: none;
    margin-right: 15px;

}
#postLoadingImage{
    width: 30px;
    height: 30px;
}
#comments{
    width: 100%;
    margin-top: 14px;
}
.comment{
    width: 382px;
    margin-left: 23px;
    margin-bottom: 12px;
}
.commentCreatorInfo{
    width: 100%;
    display: flex;
    align-items: center;
}
.commentCreatorInfo img{
    width: 30px;
    border-radius: 50%;
}
.commentCreatorInfo span{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
}
.commentContent{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
}
#commentsText{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 22px;
    font-weight: 700;
}
#unreadNotificaiton{
    width: 7;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(255, 81, 0);
    margin-left: 2px;
}

#postLoadingWatingImage{
    width: 50px;
    margin-top: 40px;
}
#postLoadingWating{
    width: 100%;
    text-align: center;
}