
{%for post in posts%}
<div class="posts">
    <div class="creatorInfo">
        <img src="/static/profileIcons/{{post.userId}}.jpg" alt="">
        <div class="creatorTextInfo">
            <span class="postCreatorNameinPost">{{post.username}}</span><br>
            <span class="creationTimeofThepost">{{post.timePassed}}</span>
        </div>
    </div>
    <div class="caption">
        <span>{{post.text}}</span>
    </div>
    {%if post.hasImage == "1" %}
    <div class="imageFrame"><img src="https://pub-6f9406fdeb2544f7acb2423deb3f6e1b.r2.dev/postImage/{{post.postId}}.jpg" alt=""></div>
    {%endif%}
    <div class="postItarection">
        <div class="postInarectionItem"><img onclick="gotoPage('/post/{{post.postId}}')" src="/static/comments.png" alt=""><span>{{post.numOfPost}}</span></div>
        <div class="postInarectionItem"><img id="{{post.postId}}LIKE" onclick="sendAddingLikeRequest('{{post.postId}}')" src="/static/{{post.likeState}}.png" alt=""><span id="{{post.postId}}LIKECOUNT">{{post.numOfLike}}</span></div>
    </div>
    <div class="commentsItarections">
        <form onsubmit="return addingComment(event, '{{post.postId}}');" action="#">
        <input id="{{post.postId}}"  type="text" placeholder="Add a comment...">
        </form>
    </div>
</div>

{%endfor%}