
{%for post in posts%}
<div class="posts">
    <div class="creatorInfo">
        <img onclick="gotoPage('/profile?userid={{post.userId}}')" src="/statics/profileIcons/{{post.userId}}.jpg" alt="">
        <div class="creatorTextInfo">
            <span class="postCreatorNameinPost">{{post.username}}</span><br>
            <span class="creationTimeofThepost">{{post.timePassed}}</span>
        </div>
    </div>
    <div class="caption">
        <span>{{post.text}}</span>
    </div>
    {%if post.hasImage == "1" %}
    <div class="imageFrame"><img src="/statics/postImage/{{post.postId}}.jpg" alt=""></div>
    {%endif%}
    <div class="postItarection">
        <div class="postInarectionItem"><img onclick="gotoPage('/post/{{post.postId}}')" src="https://protagonist-b3c.pages.dev/comments.png" alt=""><span>{{post.numOfPost}}</span></div>
        <div class="postInarectionItem"><img id="{{post.postId}}LIKE" onclick="sendAddingLikeRequest('{{post.postId}}')" src="https://protagonist-b3c.pages.dev/{{post.likeState}}.png" alt=""><span id="{{post.postId}}LIKECOUNT">{{post.numOfLike}}</span></div>
    </div>
    <div class="commentsItarections">
        <form class="commetnSubmit" onsubmit="return addingComment(event, '{{post.postId}}');" action="#">
        <input id="{{post.postId}}"  type="text" placeholder="Add a comment...">
        <button class="commetnSubmitButton" type="submit">Send</button>
        </form>
    </div>
</div>

{%endfor%}
<input type="hidden" id="lastIdValue" value="{{lastScrool}}">
